.connect-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.connect-page .connect-form {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
